.game-intro {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

#title {
  font-family: 'Risque', cursive;
  font-size: 6rem;
  text-align: center;
  margin: 0;
  color: #16128a;
  padding-left: 25%;
}

#Derb-img-intro {
  margin-top: 20px;
  padding-top: 8%;
  padding-left: 25%;
}

#start-button{
  font-family: 'Lato', sans-serif;
  color: #f3dbdb;
  position: end;
  background-color:#C96346ff;
  font-size: 35px;
  box-shadow: 20;
  border-radius: 7px;
  margin-top: 20%;
  margin-left: 50%;
  size: 30px;
}

#restartButton {
  font-family: 'Lato', sans-serif;
  position: absolute;
  font-size: 20px;
  background-color:#C96346ff;
  color: #f3dbdb;
  padding: 20px 40px;
  border: 0;
  box-shadow: 20;
  border-radius: 5px;
  margin-top: 40%;
  margin-left: 39%
}

#game-instructions{
    width: 250px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    display:block;
}

body {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

p {
  color: black;
  font-size: 1.5em;
}

section {
  border: solid 3px;
  border-color: black;
}

h3 {
  font-size: 2em;
}

#game-area{
  border: solid 3px;
  border-color: red;
}