.game-intro {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
  align-content:right;
}

#title {
  font-family: 'Risque', cursive;
  font-size: 4rem;
  text-align: left;
  padding-left: 4%;
  padding-bottom: 17%;
  color: #16128a;
  position: absolute;
}


#title-shadow {
  font-family: 'Risque', cursive;
  font-size: 4rem;
  text-align: left;
  padding-left: 3%;
  padding-bottom: 18%;
  color: #FFF8D6;
  position: absolute;
}


#Derb-img-intro {
  width: 50%;
  padding-left: 0%;
  
  /* cropping the image of derb will automattically make the intro html better */
}

#start-button{
  font-family: 'Lato', sans-serif;
  color: #f3dbdb;
  position: absolute;
  background-color:#3A98B9;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 20;
  border-radius: 10px;
  size: 5px;
  margin-right: 33%;
  margin-top: 25%;
}

#restartButton {
  position: absolute;
 font-weight: bold;
  font-family: 'Lato', sans-serif;
  color:#0e2d39;
  background-color: #f3dbdb;
  font-size: 20px;
  padding: 5px 15px;
  box-shadow: 20;
  border-radius: 10px;
  margin-left: 44%;
  margin-top: 20%;
  size: 5px;
}

#restartButton2{
  font-family: 'Lato', sans-serif;
  position: center;
  font-size: 20px;
  background-color:#C96346ff;
  color: #f3dbdb;
  padding: 20px 40px;
  border: 0;
  box-shadow: 20;
  border-radius: 5px;
  margin-left: 50%;
  display: flex;
}

#game-instructions{
  
  width: 190px;
  padding-left: 450px;
  text-align: justify;
  display:block;
  color: white;
  position: absolute;
  padding-right: 68%;
  padding-bottom: 5%;
}

body {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

p {
  color: white;
  font-size: 1rem;
}


h3 {
  font-size: 1.2em;
}

#game-area{
  display:none;
}

#game-over{
  display: none;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	align-content: stretch;
}

#derb-loser{
margin-left: 25%;
width: 54%;
}

#winner{
  text-align: center;
  display: none;
}

#win{
  font-family: 'Risque', cursive;
  font-size: 3rem;
  text-align: center;
  margin: 0;
  color: black;
  padding-bottom: 40px;
  padding-top: 40px;
}